body {
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonDiv {
  display: flex;
}
button {
  font-size: 2rem;
}

.frame {
  width: 200px;
  height: 200px;
  border: red solid 2px;
  overflow: hidden;
}

.slides {
  position: relative;
}

img {
  position: absolute;
}

#cat {
  z-index: 2;
}

.circleDiv {
  display: flex;
  gap: 5px;
}

.circle:hover {
  cursor: pointer;
}
